@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
:root {
  --primary-color: #00b144;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}

.dashboard {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
.content {
  width: 100%;
  padding: 1rem 5rem; /* h / w */
}
.sideMenu {
  padding: 1rem 2rem; /* h / w */
}

/**
  * Side Menu
  */

.sideMenu {
  background-color: black;
  color: white;
}
.sideMenu h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 5vh;
  margin-bottom: 6rem;
  font-family: "Lobster Two", cursive;
}

.sideMenu h2::before,
.sideMenu h2::after {
  content: "/";
  color: var(--primary-color);
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sideMenu h2::before {
  margin-right: 1rem;
}
.sideMenu h2::after {
  margin-left: 1rem;
}

.sideMenu ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5rem;
}

.sideMenu ul:last-child {
  margin-bottom: 0;
}

.sideMenu ul li {
  margin-bottom: 0.5rem;
}
.sideMenu ul li:last-child {
  margin-bottom: 0;
}

#myFavoriteTitle::before {
  content: "📄";
  margin-right: 1rem;
}

#profileTitle::before {
  content: "😶";
  margin-right: 1rem;
}

/**
* Quick add
*/
.quickAdd {
  width: 100%;
}
.quickAdd form {
  display: flex;
  align-items: center;
}
.quickAdd form input {
  padding: 0.5rem 1rem;
  margin: 0 5px;
  border-radius: 200px;
  outline: none;
  border: 1px solid gray;
}
#qa-fav-url {
  flex-grow: 1;
}
#qa-fav-name {
}
/**
* Category table
*/

.categoryDisplay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.categoryList {
  width: 30%;
}

.nameDisplay {
  width: 100%;
  margin-top: 3rem;
}

.fav-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.fav-item .fav-link {
  flex-grow: 1;
}
.fav-item .fav-delete {
  margin-left: 5px;
  margin-right: 15px;
}

@media screen and (max-width: 1600px) {
  .categoryList {
    width: 45%;
  }
}
@media screen and (max-width: 1200px) {
  .categoryList {
    width: 100%;
    padding: 0;
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1000px) {
  .quickAdd #qa-fav-name {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .content {
    padding: 1rem 1rem;
  }
  .sideMenu,
  .quickAdd {
    display: none;
  }
}
