<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboard">
        <div class="sideMenu">
            <h2>Favlocker</h2>
            <h3 id="myFavoriteTitle">Mes favoris</h3>
            <ul>
                <li>Lister par catégorie</li>
                <li>Lister par nom</li>
                <li>Mes favoris</li>
            </ul>
            <h3 id="profileTitle">Acronyme</h3>
            <ul>
                <li>Changer de nom d'utilisateur</li>
                <li>Modifier mon adresse e-mail</li>
                <li>Modifier mon mot de passe</li>
            </ul>
            <button class="logout">Se déconnecter</button>
        </div>

        <div class="content">
            <div class="category">
                <h2>Catégories 1</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>

            <div class="category">
                <h2>Catégories 2</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>

                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>

            <div class="category">
                <h2>Catégories 3</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>

            <div class="category">
                <h2>Catégories 3</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>

            <div class="category">
                <h2>Catégories 3</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>

                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>

            <div class="category">
                <h2>Catégories 3</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>

            <div class="category">
                <h2>Catégories 3</h2>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
                <div class='fav-item'>
                    <div class="fav-link">Liens vers le favoris</div>
                    <div class="fav-delete">❌</div>
                    <div class="fav-modify">📄</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>