.inlineForm {
    display: flex;
    input {
        margin-right: 2rem;
        flex-grow: 1;
    }

    #name {
        width: 30%;
        flex-grow: 0;
    }

    .error {
    }
}

.urlTable {
    font-size: 20px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: 10px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 2rem;
    color: white;
    width: 50%;

    .link-item {
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        .name {
            font-family: "Lobster";
        }
        .url {
            flex-grow: 1;
            a,
            a:visited {
                color: whitesmoke;
            }
        }
        .delete {
            margin: 0 2rem;
        }
    }
}
