.login form {
    max-width: 380px;

    label {
        display: block;
    }

    input {
        display: block;
        width: 100%;
    }

    button {
        display: block;
        margin: auto;
        margin-top: 3rem;
    }
}
