header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);

    .brand {
        font-size: 200%;
    }

    nav {
        ul {
            display: flex;
            list-style-type: none;

            li {
                margin: 0 1rem;
                a {
                    color: white;
                    font-size: 120%;
                }
            }
        }
    }
}
